.login__bg{
   background-image: url(https://i.pinimg.com/564x/14/47/c3/1447c3dde903d7ac5681ca2e774a3411.jpg); 
   height:91vh;
   background-position:left;
   background-size:cover;
   background-repeat: no-repeat;
   overflow-x: hidden;
}
